 body, html{

        animation: colorChange 20s infinite alternate;
     }

     p{
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;

        font-size: x-large;
     }

     a{

        font-size: larger;
     }

    h1{
        font-size: 3rem;
        font-family: Arial, sans-serif;
        color: white;
        text-align: center;

    }

    nav{
        text-align: center;
    }

    

    @keyframes colorChange{

        0%{background-color: green;}
        25%{background-color: red;}
        50%{background-color: blue;}
        75%{background-color: green;}
        100%{background-color: red}
    }

    img{
        display: block;
        margin: 35px auto;
        height: 250px;
        width: 250px;
        border-radius: 50%;


    }

    .modal{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 200ms ease-in-out;
        border: 5px solid black;
        border-radius: 10px;
        z-index: 10;
        background-color: white;
        width: 500px;
        max-width: 80%;
    }

    .modal.active {
        transform: translate(-50%, -50%) scale(1);
    }

    .modal-header{
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;
    }

    .modal-header .title{
        font-size: 1.25rem;
        font-weight: bold;
    }

    .modal-header .close-button{
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 1.25rem;
        font-weight: bold
    }

    .modal-body{
        padding: 10px 15px;
    }

    #overlay {
        position: fixed;
        opacity: 0;
        transition: 200ms ease-in-out;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        pointer-events: none;
    }

    #overlay.active {
        opacity: 1;
        pointer-events: all;
    }